.bodyhtml{
    background-image: url('https://images.unsplash.com/photo-1623780885817-0959d620e1c1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

#loader{
    display: none;
}
#contenedor{
    border-radius: 0 0 50px 50px;

}

#contenedorHead {
    border-radius: 50px 50px 0 0;
}

#cabecera{
    flex-wrap: nowrap;
    max-width: 100% !important;
}
#cabecera_menu{
    display: flex;
    justify-content: flex-end;
    max-width: 100% !important;
}

.navbar_h{
    background: -webkit-linear-gradient(right, #1e6b5c,#0d4940);
    color: white !important;
}
#bton_nabvar{
    background: transparent!important;
    border-style: none;
    color: white !important;
    font-family: Montserrat;
    font-size: large;
}
#bton_menu{
    border-style: none !important;
    color: transparent !important;
}
#bton_menu:hover{
    background: -webkit-linear-gradient(right, #1e6b5c,#0d4940);
    color: transparent !important;
    font-family: Montserrat;
    font-size: large;
}

#back{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    color: rgb(16, 95, 0);
    opacity: 0.7;
    background-color: rgb(46 122 1 / 40%);
    z-index: 1065;
  }

.spinner-hide{
    display: block !important;
}

#wallback{
    margin-left: 49%;
    margin-top: 23%;
}

.bton-descarga
 {
        background: -webkit-linear-gradient(right, #1e6b5c,#0d4940);
        color: white;

        font-size: smaller;
        padding: 7px;
        border: aqua;
        border-radius: revert;
        border-radius: 10px;
        text-decoration: none;
        font-size: 14px;
 }

 .btn-modalFormularios{
    background: -webkit-linear-gradient(right, #1e6b5c,#0d4940);
}

.menu{
    background: -webkit-linear-gradient(right, #227a69,#0d4940);
}


.modalFormularios{
    background: -webkit-linear-gradient(right, #6b1e1e,#490d0d);
    height: 48px;
}


/* datable */
#TBL_filter{
    display: flex;
    flex-direction: row-reverse;
}
#TBL_paginate{
    display: flex;
    flex-direction: row-reverse;
}
/* #TBL_length{
    display: none;
} */

/* #contenedor{
    border-radius: 50px;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
     border-radius: 8% 0 8% 0; 

} */